.App {
  text-align: center;
  height: 100vh;
  
}

.flexContainer{
display:flex;
flex-direction:row;
justify-content: space-between;
border: 2px solid black;
padding:10px;
height: 30px;

}

/* .hackimage{

} */

.myHeader{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}

.myHeader > div{
  padding:10px;
}

.container-nav{
  margin-bottom: 10%;
}


.innernav{
  padding: 5px auto 5px auto 
}

.Tips{
  margin: 0;
  padding: 0;

}

